/*********************************************************
 * UTILITY FUNCTIONS
 *********************************************************/
 
vendor(prop, args)
  -webkit-{prop} args
  -moz-{prop} args
  {prop} args
 
border-radius()
  vendor('border-radius', arguments)

box-shadow()
  vendor('box-shadow', arguments)
  



/*********************************************************
 * SITE STYLES
 *********************************************************/

body
  padding 20px
  font 13px "PT Sans", "Lucida Grande", Helvetica, Arial, sans-serif
  background url(../images/low_contrast_linen.png) scroll left top repeat
  background-color:#343434
  color:#eee;
  
a
  //color #593
  //color #336533
  color #005580

ul.iconified
  list-style none
  margin-left 0px

ul.iconified li i
  margin-right 15px
  margin-top 1px
  
ul.iconified li a
  font-size 1.15em
  
div.span4 div.box .thumbnails
  padding-left 5px

div.span4 div.box .thumbnails li
  margin-left 6px

div.footer
  font-size:90%
  color:#bcbcvc

div.footer p
  line-height:1.1em
  
.breadcrumb
  color:#656565
  
.clear
  clear:both
 
// -- BOXES -----------------------------------------------

.box 
  position:relative
  background-color #f3f3f3
  padding 10px
  margin 10px 0px
  color:#303030
  border-radius:8px
  line-height:20px;
  min-height:242px

div.box.short
  min-height:130px
  height:130px 

.box p
  text-indent:15px
  text-align:justify
  
.box ul li 
  line-height 2em
  
.shadow
  box-shadow 1px 1px 3px 1px #181818
  
div.box p.attrib
  position:absolute;
  bottom:-15px;
  right:10px;
  
div.box p.attrib img 
  margin-bottom:15px
  
div.box#briefHistory img, div.box#oldHistory img
  max-height:54px
  padding:5px
  border:solid 1px #ccc
  margin-left:10px
  margin-bottom:10px
  float:right
  
div.box#briefHistory p:after, div.box#oldHistory p:after 
  content: "."
  display: block
  clear: both
  visibility: hidden
  line-height: 0
  height: 0
  
div.box ul
  margin-left:0px
  
div.box ul li a
  color:#005580
  
div.box#social
  margin-top:20px
  
div.box#cv
  margin-top:20px
  
div.box .well
  margin-bottom 0px
  
.footer.container a
  color #bbb
  text-decoration underline
  
.box.auto
  min-height 0px
  height auto
  
// -- FEATURES -------------------------------------------- 
  
div#features ul.iconified li
  line-height 4em

div#features div.span2
  margin-left:0px

div#features div.span2.last 
  margin-left -18px
  width 118px

#timeline
  height 100px
  background-color #345

  


  
// -- HEADERS ----------------------------------------------
  
h1
  font-family montserrat, sans-serif
  text-transform uppercase
  font-size 3em
  //color #ced7d3
  color #7f3f3f
  text-shadow 1px 1px 3px #251313;
  filter dropshadow(color=#FFFFFF, offx=1, offy=1);


h3
  font-family:economica, sans-serif
  letter-spacing 0.05em
  border-bottom solid 1px #7f3f3f
  margin-bottom 8px
  //color:#251313;
  color:#1a1f0f;
  
div.header h5
  letter-spacing:0.04em;
  margin-top:3px;
  
div.header hr
  margin-top 3px
  border-width:1px 0
  
.num 
  font-size 150%
  color #347
  
// -- HELLO ------------------------------------------------
#hello
  font-size: 95%
  
#hello p
  text-indent 0px
  text-align:left
  
#hello img 
  float right
  margin-left 10px
  margin-top -40px
  width 84px
  
#hello .well
  padding-bottom:0px
  
// -- READING, NEWS ----------------------------------------------
#reading ul, #news ul 
  font-size 90%
  list-style none
  
#reading ul li, #news ul li
  line-height 1.1em
  margin-bottom 12px;
  
#reading ul li a, #news ul li a
  color #005580
  
// -- NEWS -------------------------------------

#news ul li p
  margin-top:10px
  line-height:1.5em
  
// -- PHOTOS ------------------------------------------------
#photos
  height 410px
  
#photos ul
  margin-right 0px

// -- SOCIAL ------------------------------------------------
#social img
  margin-right 10px
#social a
  text-decoration none
  
// -- PROJECTS ---------------------------------
#projects
  font-size:90%
  
#projects p
  text-indent 0px
  text-align left
  line-height 1.5em
  
#projects span
  font-size: 1.1em
  display:block;
  margin-top 20px
  
#projects img
  width:90px
  float:left
  margin-right 10px
  margin-bottom 10px
  padding 3px
  border solid 1px #ccc
  border-radius 2px


// -- STREME ------------------------------------------------

ul.streme 
  font-size 90%
  list-style none
  margin 0
  padding 0

ul.streme li 
  margin-bottom 10px  

ul.streme li img 
  width 40px
  padding 2px
  border solid 1px #ccc
  float left
  margin 2px
  margin-right 5px
  
ul.streme li span.description
  font-style italic
  
ul.streme span.date, ul.streme span.verb
  color #888
  
ul.streme.small li
  font-size 80%
  line-height 1.35em
  margin-bottom 5px
  
  
ul.streme.small li img 
  width 28px
  
// -- RESUME (CV) -------------------------------------------
#cv img
  width 80px
  float left
  margin-right:8px

#cv
  font-size:100%
  
#cv p
  text-indent 0px

// -- LINKLOG -----------------------------------------------
div.result
  background-color: #efc;
  margin: 10px 0px

div.result h5 
  border:none
  background-color:#bc8
  padding:3px
  margin-top:0px;
  
div.result p 
  text-indent:0px
  padding:5px;
  
div.result div.tags 
  font-size:90%
  color:#343
  font-style:italic
  padding:5px;


