link(rel='stylesheet', href='/stylesheets/pubs.css')


.section

  .row
    .span12
      ul.breadcrumb
        li
          a(href='/') Home 
          span.divider /
        li Presentations and Posters

  .row
    .span4
      .box.auto
        .well
          h3 Presentations and Posters
          :markdown
            This page contains a collection of presentations and posters that
            I have presented at various events. 
            
            For information about publications I have either led or participated
            in, please see my [publications page](/publications).
    .span8
      .box.pubs
        .well
          :markdown
            
            #### 2012
            [![RCMES Overview](/images/presentations/2012-RCMES-Overview.t.png)](/images/presentations/2012-Dakar-RCMES-Overview.pptx)
            A presentation I gave describing the Regional Climate Model Evaluation System we're building to support improved access to NASA remote sensing observations. 
            
            <br /><br />
            [![EDRN ERNE-Portal Integration](/images/presentations/2012-EDRN-BRN-ERNE-Portal.t.png)](/images/presentations/2012-EDRN-BRN-ERNE-Portal.png)
            A poster I designed to describe the biospecimen data management system we developed for the Early Detection Research Network. 
            
            <br />
            #### 2010
            [![OSCON 2010](/images/presentations/2010-OSCON-Hart.t.png)](/images/presentations/2010-OSCON-Hart.ppt)
            A presentation I gave at the 2010 O'Reilly Open Source Convention describing recent work designing a distributed data management system
            for pediatric research. [Watch the talk on YouTube](http://youtube.com/watch?v=KZd6YJtCWfQ).
            
            <br />
            #### 2009
            [![EDRN Data Curation](/images/presentations/2009-EDRN-SC-Curation.t.png)](/images/presentations/2009-EDRN-SC-Curation.png)
            A poster I designed that describes software tools built to help curate the growing volumes of EDRN research data.
            
            <br />
            #### 2008
            [![EDRN Biomarker Atlas](/images/presentations/2008-EDRN-SC-BiomarkerAtlas.t.png)](/images/presentations/2008-EDRN-SC-BiomarkerAtlas.jpg)
            A poster I designed that describes the EDRN Biomarker Atlas. Presented at the EDRN Steering 
            Committee meeting in Bethesda, MD.
            
            <br /><br />
