!!!
html
  // Hello fellow developer, you're looking great!                         
  //                                                                       
  // This site is a personal experiment with a whole bunch of neat         
  // technologies that, to tell you the truth, have made developing        
  // sites by hand FUN again:                                              
  //   Node.js    (http://nodejs.org)                                      
  //   Express v3 (http://expressjs.com)                                   
  //   Jade       (https://github.com/visionmedia/jade)                    
  //   Stylus     (https://learnboost.github.com/stylus/)                  
  //   MongoDB    (http://mongodb.org/)                                    
  //                                                                       
  // Enjoy looking around, and let me know if you have any questions,      
  // find something amiss, or just want to chat!                           
  //                                                                       
  // Best regards,                                                         
  // @ndrewfhart                                                           
  //                                                                       
    
    
    
  head
    title= title
    link(rel='stylesheet', href='/libs/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

    link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=PT+Sans')
    link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Economica')
    link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Montserrat')
    link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Playball')
    
  body
    div.header.container
      h1 Andrew F. Hart
      h5 Software Engineer, Entrepreneur, Photographer, &amp; More 
      hr
      
    #main.container!= body
    
    div.footer.container
      hr       
      :markdown
        All content on this site is &copy; 2012 Andrew F. Hart unless
        otherwise indicated. Built for fun in JavaScript with [Node.js](http://nodejs.org), 
        [MongoDB](http://mongodb.org), [Jade](http://www.jade-lang.com), [Stylus](http://learnboost.github.com/stylus/)
        and other wonderful open-source technologies. Thank you for visiting!
    
    script(src='/javascripts/jquery-1.8.1.min.js')
    script(src='/libs/bootstrap/js/bootstrap.min.js')
    script(src='/javascripts/afh.js')
    
    // Piwik rocks for tracking stuff, + its open source! check it: http://piwik.org
    script
      var pkBaseURL = (("https:" == document.location.protocol) ? "https://analytics2.cis-host.com/piwik/" : "http://analytics2.cis-host.com/piwik/");
      document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
    script
      try {
        var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 11);
        piwikTracker.trackPageView();
        piwikTracker.enableLinkTracking();
      } catch( err ) {}
    noscript
      p
        img(src='http://analytics2.cis-host.com/piwik/piwik.php?idsite=11', style='border:0', alt='')

    
    
