link(rel='stylesheet', href='/stylesheets/pubs.css')


.section

  .row
    .span12
      ul.breadcrumb
        li
          a(href='/') Home 
          span.divider /
        li Linklog

  .row
    .span4
      .box
        h3 Search Linklog
        :markdown
          You can use the fields on the right to search through the linklog. 
          
          Or, [submit a new link!](/linklog/submit)
        
    .span8
      .box
        h3 Search for links...
          form(method='POST',action='/linklog/search')
            label(for='tags') Search Keyords:
            input(type='text',name='needle',placeholder='Search by tags...')
            input.btn(type='submit',value='Search!')
        h3 Search Results...
        #results
          resultCount = results.length
          if resultCount > 0
            em I found #{resultCount} results:
            ul
              each result in results
                titleString = (result.title && result.title.length) ? result.title : result.url
                tagString = result.tags.join(', ')
                div.result
                  h5
                    a(href=result.url)=titleString
                  p=result.comment
                  div.tags=tagString
                  
        
          else 
            em No search results found.

