!!!
html
  // Hello fellow developer, you're looking great!                        .
  //                                                                      .
  // This site is a personal experiment with a whole bunch of neat        .
  // technologies that, to tell you the truth, have made developing       .
  // sites by hand FUN again:                                             .
  //   Node.js    (http://nodejs.org)                                     .
  //   Express v3 (http://expressjs.com)                                  .
  //   Jade       (https://github.com/visionmedia/jade)                   .
  //   Stylus     (https://learnboost.github.com/stylus/)                 .
  //   MongoDB    (http://mongodb.org/)                                   .
  //                                                                      .
  // Enjoy looking around, and let me know if you have any questions,     .
  // find something amiss, or just want to chat!                          .
  //                                                                      .
  // Best regards,                                                        .
  // @ndrewfhart                                                          .
  //                                                                      .
  head
    title= title
    link(rel='stylesheet', href='/libs/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    
    link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Economica')
    link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Montserrat')
    link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Playball')
    
  body
    header.container
      h1 Andrew F. Hart
      p Software Engineer, Entrepreneur, Photographer, &amp; More
      
    #main.container!= body
    
    div.footer.container
      hr 
      :markdown
        All content on this site is &copy; 2012 Andrew F. Hart unless
        otherwise indicated. Built for fun in JavaScript with [Node.js](http://nodejs.org), 
        [MongoDB](http://mongodb.org), [Jade](http://www.jade-lang.com), [Stylus](http://learnboost.github.com/stylus/)
        and other wonderful open-source technologies. Thank you for visiting!
    
    script(src='/libs/bootstrap/js/bootstrap.min.js')
