link(rel='stylesheet', href='/stylesheets/portfolio.css')
.section
  .row
    .span12
      ul.breadcrumb
        li
          a(href='/') Home 
          span.divider /
        li Portfolio
  .row
    .span4
      .box
        .well
          h3 My Portfolio:
          :markdown
            I am a __software engineer__. I use a combination of technology and computer 
            science to solve problems. 
            I am currently part of a team that develops advanced data management software to support large-scale, 
            data-driven research at [NASA](http://jpl.nasa.gov).   
            
            I consider myself primarily a front-end web developer, however I often find 
            myself bridging the gap between the front and back-end components of a system 
            in an effort to better expose its capabilities to end-users via a Web browser. I
            strive to design interfaces and services that enable intuitive, streamlined 
            access to information, and make large quantities of data more manageable.
            
            This portfolio provides a representative sampling of the types of projects that I have undertaken
            and provides a great starting point for understanding the types of challenges I enjoy.

            
      .box.short.shadow#cv
        h3 Download my CV:
        a(href='http://cvmeter.com/andrewfhart/cv')
          img#pdf(src='images/PDF.png')
        p 
          :markdown
            Download a condensed (single page) version of my education, capabilities, and
            experience.
        
    .span8
      .box#briefHistory
        h4 Recent and Ongoing Projects:
        :markdown
          ![NASA Logo](/images/logos/nasa.jpeg)
          Since 2007 I have worked as a software engineer in the Data Management Systems and 
          Technologies group at the NASA Jet Propulsion Laboratory. In that capacity I have 
          had the opportunity to participate in the research, design, and development of 
          large-scale data systems to support a broad spectrum of scientific research:
          
          <br />
          
          [![EDRN Informatics](/images/portfolio/thumbnails/edrn-bmdb-01.png)](/portfolio/edrn)
          [__The Early Detection Research Network](/portfolio/edrn):__ Developing a comprehensive informatics infrastructure
          to support knowledge sharing across a nationwide cancer biomarker research network.
          
          [![Snow Data System](/images/portfolio/thumbnails/snow-01.png)](/portfolio/snow)
          [__The Snow Data System:__](/portfolio/snow) Supporting the collection and analysis of 
          remote sensing and in-situ climate observations to improve understanding of the impacts
          of dust and pollutants on snow and provide valuable water resource planning data.
          
          [![V-FASTR](/images/portfolio/thumbnails/vfastr-05.png)](/portfolio/vfastr)
          [__Fast Radio Transient Detection Analysis:__](/portfolio/vfastr) Developing a metadata 
          pipeline and collaborative
          online environment for the review and evaluation of automatically flagged fast transient radio
          events from Very Long Baseline Array (VLBA) data.
          
          [![RCMES](/images/portfolio/thumbnails/rcmes-02.png)](/portfolio/rcmes)
          [__Regional Climate Model Evaluation System:__](/portfolio/rcmes) Improving access to NASA's
          repositories of 
          remote sensing climate observations, and developing tools for model-to-observational data 
          comparison for the regional climate modeling community.
          
          

      .box#oldHistory
        h4 Other Projects:
        :markdown
          [![Furnace](/images/portfolio/thumbnails/furnace-01.png)](/portfolio/furnace)
          [__Furnace PHP Web Application Framework:__](/portfolio/furnace) (2007-2010) Back in the days when LAMP stack Model, 
          View, Controller frameworks
          were the _one true way_ to build web applications, I tried my hand at developing one from scratch,
          and learned a lot about PHP 5, software reuse, and the challenge of balancing generality and
          utility.
          
          [![Cositu](/images/portfolio/thumbnails/cositu-01.png)](/portfolio/cositu)
          [__Cositu: A Residential Social Network Service__](/portfolio/cositu) (2008-2010) Having just moved to the heart of
          downtown Los Angeles in 2007, I was looking for neighbors in a sea of faces. Cositu was dreamed up and built with my brother to help create online communities between people who live together.
          
          

