link(rel='stylesheet', href='/stylesheets/portfolio.css')
.section
  .row
    .span12
      ul.breadcrumb
        li
          a(href='/') Home 
          span.divider /
        li
          a(href='/portfolio') Portfolio
          span.divider /
        li Snow Data System - Western Energy Balance of Snow (WEBS)
  .row
    .span4
      .box
        h4 Project Overview:
        :markdown
          The Snow Data System is a research effort that provides data management and processing 
          support to ongoing efforts at better quantifying the effect that airborne dust
          and pollutants are having on the melt rates of the world's major snow packs. Data 
          obtained from remote sensing and in-situ instruments are collected, archived, and 
          processed into products, many near-real-time, which are then used by a broad spectrum
          of downstream consumers including the U.S. Army, the climate science community, and
          state and regional water resource planning commissions. 

      .box.contrib
        h4 How I Contributed:
        :markdown
          My role on this project was to _develop a data collection framework for obtaining hourly
          measurements from a scattered network of in-situ weather stations_ in remote locations 
          in the western Rocky Mountains. COTS software was used for the communication link with
          the towers themselves, and I _wrote a series of Python scripts to transform and harmonize
          the data from different instruments_ so that it could be stored and analyzed as a single
          collection downstream. Next, I _designed a web-based user interface for ad-hoc 
          investigation of the collected data_, including the ability to plot data from multiple
          stations side by side over variable time periods. Finally, I _implemented and documented
          a set of RESTful web services_ to allow users to quickly and intuitively subset the data
          and retrieve interesting data in various formats.
      
      .box.tech.auto
        h4 Technologies Utilized:
        
        ul
          li Python
          li Node.js
          li MongoDB
          li JavaScript
          li HTML
          li CSS
            
        
    .span8
      .box.gallery.clearfix
        img.feature(src='/images/portfolio/snow-01.med.png')
        img.feature(src='/images/portfolio/snow-03.med.png')

